<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Referências</title>
</head>
<body>

    <header class="container-fluid bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('index') }}">Equivalências Lógicas</a>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link btn-link" aria-current="page" href="{{ url_for('index') }}">Teste Agora</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link btn-link" aria-current="page" href="{{ url_for('all') }}">Equivalências</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link btn-link" href="{{ url_for('referencias') }}">Referências</a>
                  </li>
                </ul>
              </div>

            </div>
          </nav>
    </header>

    <main class="container">

      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">EQUIVALÊNCIA LÓGICA</h5>
              <h6 class="card-subtitle mb-2 text-muted">AULA PRÁTICA COM QUESTÕES COMENTADAS</h6>
              <p class="card-text">Neste texto, vamos tratar das principais propriedades da lógica booleana cobradas em concursos e, assim, otimizar nosso tempo de estudo...</p>
              <a href="https://voceconcursado.com.br/blog/equivalencia-logica-aula-pratica-completa/" target="_blank" class="card-link">Disponível Aqui</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">APOSTILA DE LÓGICA</h5>
              <h6 class="card-subtitle mb-2 text-muted">Instituto Federal De Educação, Ciência E Tecnologia Do Rio Grande Do Norte</h6>
              <p class="card-text">Nesta apostila trataremos de um tema da maior relevância no Raciocínio Lógico. Estou
                me referindo à Equivalência Lógica...</p>
              <a href="https://docente.ifrn.edu.br/cleonelima/disciplinas/fundamentos-de-programacao-2.8401.1m/fundamentos-de-logica-e-algoritmos-1.8401.1v/apostila-equivalencias-logicas" target="_blank" class="card-link">Disponível Aqui</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">EQUIVALÊNCIA LÓGICA</h5>
              <h6 class="card-subtitle mb-2 text-muted">PUC Goias</h6>
              <p class="card-text">Aula com exemplos</p>
              <a href="http://professor.pucgoias.edu.br/SiteDocente/admin/arquivosUpload/17389/material/Aula13.pdf" target="_blank" class="card-link">Disponível Aqui</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">RACIOCÍNIO LÓGICO</h5>
              <h6 class="card-subtitle mb-2 text-muted">Casa do Concurseiro</h6>
              <p class="card-text">Por tudo que foi visto até agora, fica claro que existe uma infinidade de possibilidades de
                sentenças lógicas e com isso uma infinidade de sentenças lógicas...</p>
              <a href="https://s3.amazonaws.com/ead_casa/ead_casa/Aula/23369/5000-equivalencia-logica-e-negacao-de-proposicoes-compostas-fabricio-biazotto.pdf" target="_blank" class="card-link">Disponível Aqui</a>
            </div>
          </div>
        </div>
      </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>