<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Table Verdade - Resultados</title>
</head>
<body>
    
    <header class="container-fluid bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('index') }}">Lógica</a>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link btn-link" aria-current="page" href="{{ url_for('index') }}">Teste Agora</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link btn-link" aria-current="page" href="{{ url_for('all') }}">Equivalências</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link btn-link" aria-current="page" href="{{ url_for('tabela') }}">Tabela Verdade - BETA</a>
                  </li>


                </ul>
              </div>

            </div>
          </nav>
    </header>

    <br>
    <article class="container">
      <h5>Operações</h5>
      <ul>
        <li>Negação: 'not', '-', '~'</li>
        <li>Ou: 'or'</li>
        <li>E: 'and'</li>
        <li>Condicional: '=>'</li>
        <li>Bi Condicional: '='</li>
      </ul>
    </article>

    <main class="container">
        <h3>Tabela Verdade</h3>

        <form method="post" class="row gy-2 gx-3 align-items-center">

          <h5>Preposições</h5>

          <div class="container">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="p" name="p" id="flexCheckDefault" checked>
              <label class="form-check-label" for="flexCheckDefault">P</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="q" name="q" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">Q</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="r" name="r" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">R</label>
            </div>

            <br>
            <h5>Expressão</h5>
            <i>Expressões separadas por vírgulas</i>
            <div class="mb-3">
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="p and q, p and not q" name="expression">
            </div>

          </div>

          <button type="submit" class="btn btn-primary">Gerar Tabela Verdade</button>
      </form>

    </main>

    <br>
    <section class="container result">
      <h3>Resultado</h3>
      <img src="../static/images/figure.png" alt="Minha Figura">
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>